.profile-hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: var(--green-a3);
    margin-top: calc(0px - var(--header-height));
    padding-top: var(--header-height);
    padding-bottom: 65px;

    &__title {
        margin-top: 30px;
        display: flex;
        align-items: flex-end;
        gap: 16px;

        h1 {
            font-size: 40px;
            font-weight: 600;
            line-height: 1.2;
            color: var(--black-36);            
        }

        .edit-button {
            margin-bottom: 6px;
        }
    }

    &__description {
        margin-top: 20px;
        font-size: 16px;
        line-height: 137%;
        font-weight: 400;        
        color: var(--black-36);
        letter-spacing: 0.16px;

        .profile-hero__description-edit {
            width: 16px;
            height: 16px;
            margin-left: 8px;
            transform: translateY(2px);
            
            svg {
                color: var(--gray-7a);

                *[fill] {
                    fill: currentColor;
                }

                *[stroke] {
                    stroke: currentColor;
                }
            }
        }
    }
}   