@import '../../styles/_helpers';

.profile-hero {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: var(--gray-50);
    padding-top: var(--header-height);
    padding-bottom: 65px;

    &__title {
        margin-top: 30px;
        display: flex;
        align-items: flex-end;
        gap: 16px;
        color: var(--gray-400);

        h1 {
            font-size: 40px;
            font-weight: 600;
            line-height: 1.2;            
        }

        .edit-button {
            margin-bottom: 6px;
            // color: white;
            @include svg-reset-color();
        }
    }

    &__description {
        margin-top: 20px;
        font-size: 16px;
        line-height: 137%;
        font-weight: 400;      
        letter-spacing: 0.16px;
        color: var(--gray-300);

        .profile-hero__description-edit {
            width: 16px;
            height: 16px;
            margin-left: 8px;
            transform: translateY(2px);
            
            svg {
                color: var(--gray-7a);

                *[fill] {
                    fill: currentColor;
                }

                *[stroke] {
                    stroke: currentColor;
                }
            }
        }
    }

    &__avatar::before {
        font-size: 48px;
    }
}   

[data-theme="dark"] {
    .profile-hero {
        background-color: var(--gray-500);

        &__title {
            color: white;
        }
    }
}