.music-button {
    cursor: pointer;
    display: initial;
    background-color: #F4F6F8;
    color: #404040;
    padding: 12px 24px;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    // margin-right: 20px;
    white-space: nowrap;
    border: none;
    display: flex;
    align-items: center;
    transition: .2s;

    i {
        margin-right: 6px;
        font-size: 16px;
    }
    
    &:hover {
        opacity: 0.9;
    }
    
    &:disabled {
        cursor: not-allowed;
        color: #bababa;
        background-color: lighter(#c4c4c4, 50%); 
    }
    
    &.active {
        background-color: $black-bcg-light;
        color: #F4F6F8;
    }
    
    &.green {
        background-color: $green !important;
        color: $black-bcg-light !important;
    }
    
    &.message {
        color: black;
        border: none;
        padding: 8px 20px;
        font-size: 15px;
        border-radius: 3px;
        background-color: $gray-300;
        outline: none;
        cursor: pointer;   
    }
    
    &-select {
        font-size: 14px !important;
        position: relative;
        display: flex;
        min-width: 120px;
        
        &-input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #393E46;
            color: #fff;
            height: 38px;
            padding: 6px 13px;
            width: 100%;
            border-radius: 5px;
            cursor: pointer;
            border: none;
            
            i {
                font-size: 12px;
            }
            
            p {
                font-size: 14px !important;
                margin-right: 15px;
                letter-spacing: 0.03em;
            }
        }
        
        &-list {
            display: none;
            box-sizing: border-box;
            width: 100%;
            
            &.active {
                display: block;
                line-height: 35px;
                background: #393E46;
                position: absolute;
                z-index: 9999;
                top: calc(100% - 4px);
                border-radius: 0px 0px 6px 6px;
                padding: 0px 13px;
                
                ul li {
                    width: 100%;
                    color: #989898;
                    cursor: pointer;
                }
            }
        }
    }
    
    
    &-checkbox {
        width: 46px;
        height: 24px;
        background-color: #393E46;
        border-radius: 25px;
        display: block;
        cursor: pointer;
        
        &.checked {
            animation: radioBtn .2s;
            
            .music-button-checkbox-check {
                left: 24px;
                background-color: #00ADB5;
            }
        }
        
        &-check {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #8E8E8E;
            top: 3px;
            left: 3px;
            display: block;
            position: relative;
            transition: .1s;    
        }
    }

    // Styles
    &.dark {
        background-color: $black-bcg-light;

        span, i {
            color: white;
        }
    }
}

@keyframes radioBtn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}