.music__main-temp-songs {
    position: relative;
    margin-top: 30px;
    padding: 0;

    &-nav {
        width: 100%;
        position: relative;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-bar {
            width: 15%;
            display: flex;
            justify-content: space-between;

            span {
                color: $gray-font;
                cursor: pointer;
                font-size: 18px;

                &:hover {
                    color: #000;
                }
            }
        }
    }

    &-view {
        position: absolute;
        right: 0px;
        top: 10px;
        color: $green;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
    }

    &-list {
        width: 100%;
        line-height: 50px;
        display: block;
        padding-left: 0;
        margin: 0;
        counter-reset: item;

        .now_play {
            color: $green;

            &:active .play_btn {
                font-size: 32px;
            }

            &::before {
                content: '';
            }

            .play_btn {
                opacity: 1;
                color: $green;
                margin-right: 11.5px;
                transform-origin: center;
            }
        }

        &-avatar {
            height: 35px;
            width: 35px;
            border-radius: 2px;
            overflow: hidden;
            position: relative;
            margin-right: 12px;

            img {
                height: 100%;
                width: auto;       
                position: relative;
                z-index: 2;         
            }

            // If image not loaded
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                background: $gray-400;
                z-index: 0;
            }
            &::before {
                content: "";
                width: 200%;
                height: 200%;
                opacity: 0.6;
                transform: rotate(-45deg);
                z-index: 1;
                background: rgb(142,142,142);
                background: linear-gradient(0deg, $gray-400 0%, $gray-300 40%, $gray-300 60%, $gray-400 100%);
                position: absolute;
                top: -150%;
                left: -150%;
                animation: bgcImage 3s infinite;
            }
        }
        
        &_artist-name {
            font-weight: bold;

            &:hover {
                font-weight: normal;
            }
        }

        &-link {
            color: #000;
            cursor: pointer;
            font-size: 14px;
        }

        &-album {
            position: absolute;
            left: 50%;
        }

        .play_btn {
            display: block;
            opacity: 0;
            cursor: pointer;
            position: relative;
            right: 10px;
            font-size: 30px;
            color: $gray-font;
        }

        li {
            position: relative;
            align-items: center;
            display: flex;
            transition: .2s all ease;
            border-radius: 7px;
            font-weight: normal;
            cursor: pointer;
            box-sizing: border-box;
            font-size: 14px;
            padding-left: 20px;

            &:hover .play_btn {
                opacity: 1;
                color: $green;
                margin-right: 11.5px;
            }
            &:hover {
                color: $gray-font;
                background-color: $gray-200;
            }

            &:hover::before {
                content: "";
            }

            &::before {
                content: counter(item) '.';
                counter-increment: item;
                color: #000;
            }
        }

        &_right {
            position: absolute;
            right: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                color: $gray-font;
                
                &:hover {
                    color: $gray-300;
                    
                    i {
                        color: $gray-300;
                    }
                }
            }

            &-time_now {
                font-weight: 100;
                color: $gray-font;
            }

        }
    }

}

.music-night {
    
    .music__main-temp-songs-list {

        li {
            
            &:before {
                color: $gray-font !important;
            }

            &:hover {
                background-color: $gray-bcg !important;
            }
        }

        &_artist-name {
            color: $gray-font;
        }

        &-album {
            color: $gray-font;
        }

        &_name {
            color: $gray-font !important;
        }

        &-link {
            color: $gray-font;
        }

        &-right {
            &-trash {
                color: $gray-font;    
            }
        }
    }
} 


@keyframes bgcImage {
    0% {
        top: -150%;
        left: -150%;
    }
    // 5% {
    //     top: -120%;
    //     left: -120%;
    // }
    // 10% {
    //     top: 100%; 
    //     left: 100%; 
    // }
    // 20% {
    //     top: -120%;
    //     left: -120%;
    // }
    50% {
        top: -150%;
        left: -150%;
    }
    100% {
        top: 100%; 
        left: 100%; 
    }
}