.music__main-for {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 0px 0px 60px;
    overflow: hidden;

}

@media screen and (max-width: 1200px) {
    .music__main-for {
        padding: 0px 40px;
    }
}
