.slider {
    position: relative;
    display: flex;
    margin: 0px calc(0px - var(--container-padding));

    &__wrap {
        display: flex;
        width: 100%;
        scroll-behavior: smooth;
        padding: 0px calc(var(--container-padding) - 10px);
        overflow-x: auto;
        cursor: grab;
    }

    &__slide {
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        max-width: calc(100% - var(--container-padding));
        flex: 0 0 calc(100% - var(--container-padding));
        
        @screen sm {
            max-width: min(440px, var(--max-w));
            flex: 0 0 min(440px, var(--max-w));
        }

        img {
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            pointer-events: none
        }
    }

    &__dots {
        @apply absolute top-[calc(100%+32px)] left-1/2 translate-x-[-50%] flex items-center justify-center;
    
        &-item {
            @apply mx-2 shrink-0 p-1 block after:block after:w-2 after:h-2 after:rounded-lg;
        }
    }

    &__arrows {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(var(--container-padding));
        width: calc(100% - var(--container-padding));
        z-index: 1;
        pointer-events: none;
        
        &-item {
            border-radius: 50%;
            background-color: black;
            opacity: 0.8;
            pointer-events: all;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: 32px;
            height: 32px;
            left: 20px;

            @screen sm {
                height: 56px;
                width: 56px;
            }
            

            &.slider__arrows-item_next {
                left: auto;
                right: 20px;

                svg {
                    transform: scaleX(-1);
                }
            }


            svg {
                width: 28px;
                height: 28px;
                
                @screen sm {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
}
