.music__main-profile {
    position: absolute;
    top: 0px;
    width: 100%;
    padding-bottom: 50px;

    &-empty {
        font-size: 20px;
        position: relative;
        left: 20px;
    }

    &-header {
        width: 100%;
        height: 250px;
        background-color: #AAD8D3;
        padding: 80px 60px;
        padding-bottom: 90px;
        position: relative;

            &-wrap {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
        
                &-avatar {
                    width: 100px;
                    height: 100px;
                    position: relative;
                    border-radius: 50%;
                    display: block;
        
                    &-img {
                        width: auto;
                        height: 100%;
                        position: relative;
                        border-radius: 50%;
                        display: block;
                        overflow: hidden;
                        cursor: pointer;
                        
                        img {
                            height: 120%;
                            position: relative;
                            left: -10%;
                            top: -5%;
                            filter: contrast(1);
                            transition: .2s;
                        }
                        
                        &-change {
                            position: absolute;
                            bottom: -50%;
                            height: 30%;
                            width: 100%;
                            background: #393E46;
                            text-align: center;
                            transition: .2s;

                            span {
                                font-size: 12px;
                                color: #F4F6F8;
                                cursor: pointer;
                            }
                        }

                        &:hover {
                            img {
                                filter: contrast(0.5);
                            }
                            .music__main-profile-header-wrap-avatar-img-change {
                                bottom: 0%;
                            }


                        }
                    }
             
            
                    i {
                        position: absolute;
                        right: 5%;
                        bottom: 5%;
                        color: #000;
                        font-size: 18px;
                    }
                }
        
                &-nick {
                    display: block;
                    margin-left: 25px;

                    &-name {
                        display: flex;
                        align-items: baseline;
                        
                        h1 {
                            font-size: 40px;
                            margin: 0;
                            font-weight: 400;
                            margin-right: 10px;
                        }

                        i {
                            cursor: pointer;
                        }
                    }

                    &-info {
                        display: block;
                        position: relative;
                        top: -4px;

                        p {
                            margin: 0 !important;
                        }
                    }
                    span {
                        font-size: 20px;
                        position: relative; 
                        color: #393E46;
                    }
                }
            }

        &-frequents {
            position: relative;
            margin-top: 30px;

            &-frequent {
                margin-bottom: 18px;

                span {
                    font-size: 20px;
                    margin-right: 10px;
                    font-family: "Roboto";
                }

                &-item {
                    background: #393E46;
                    padding: 5px 8px;
                    border-radius: 5px;
                    margin-right: 10px;
                    font-size: 14px;
                }

                &-desc {
                    position: relative;
                    width: 80%;

                    &-title {
                        font-size: 18px;
                        margin-right: 10px;
                        font-family: "Roboto";
                    }
                    
                    &-text {
                        font-size: 16px !important;
                        line-height: 24px;
                        color: #000;
                        font-weight: 100;
                    }
                    &-icon {
                        cursor: pointer;
                        margin-left: 10px;
                    }
                }
            }
        }
    }


    &-settings {
        padding: 0px 60px;
        margin-top: 30px;
        width: 100%;
        position: relative;
        box-sizing: border-box;

        &-list {
            position: relative;
            left: 20px;
            width: 60%;
            line-height: 50px;

            &-item {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                // border-bottom: 1px solid #393E46;

                span {
                    font-size: 20px;
                }
            }
        }
    }

    &-songs {
        width: 60%;
        margin-top: 30px;
        margin-left: 60px;
        position: relative;
    }

    &-change-avatar {
        display: block;
        width: 50%;
        margin: 0 auto;
        position: relative;
        top: 20%;

        &-btn {
            position: relative;
            text-align: center;
        }
    }

    &-albums {
        width: 100%;
        position: relative;
        margin-top: 40px;
        margin-left: 60px;
    }

    &.night {

        .music__main-profile { 

            &-header {
                background-color: #393E46;

                &-wrap {
                    &-avatar {
                        &-img {
                            &-change {
                                background-color: #292929;
                            }
                        }
                    }

                    &-nick {
                        &-name {
                            h1 {
                                color: #fff;
                            }
                        }
                        span {
                            color: #8e8e8e;
                        }
                    }
                }

                &-frequents {
                    &-frequent {
                        span {
                            color: #eeeeee;
                        }

                        &-item {
                            background-color: #EEEEEE;
                            color: #393E46;
                        }

                        &-desc {
                            &-title {
                                color: $gray-font-light;
                            }
                            &-text {
                                color: $gray-font;
                            }
                        }
                    }
                }
            }

            &-settings-list-item {
                span {
                    color: #8E8E8E;
                }
            }
        }
    } 
}