@import '__bootstrap';
@import "__colors";
@import "__spacings";
@import "__helpers";
@import '__reset';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}