$black-bcg: #151515;
$black-bcg-light: #393E46;

$green: #00ADB5;
$light-green: #AAD8D3;

$black: #151515;
$black-100: #393E46;

$gray-200: #F4F6F8;
$gray-300: #C4C4C4;
$gray-400: #8e8e8e;
$gray-bcg: #292929;

$gray-btn: #696969;
$gray-font: #8e8e8e;
$gray-font-light: #EEEEEE;

$red: #f23f3f;

$yellow: #FFEF78;

$blue-bcg: #0f1626;
$blue-bcg-200: #18274a;
