:root {
    --black-36: #393E46;
    --black-06: #0F1626;
    --black: #000;
    --main-black: var(--black-36);

    --white: #fff;
    
    --green-05: #00ADB5;
    --green-a3: #AAD8D3;

    --red-fc: #F44C4C;
    --yellow-fa: #F4E15A;
    
    --gray-7a: #7C7C7A;
    --gray-de: #DEDEDE;
    --gray-4a: #4A4A4A;
    --gray-c4: #C4C4C4;
    --gray-f5: #F5F5F5;
    --gray-f8: #F4F6F8;
    --gray-ee: #EEEEEE;
    --gray-8e: #8E8E8E;
    --gray-3e: #3c424e;
    --gray-88: #888888;

    --player-height: 0px;
}