@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

// @import "__spacings";
@import "__variables";
@import "__helpers";
@import "__grid";
@import "__reset";

html, body {
    font-family: var(--font-primary);    
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;        
    font-family: var(--font-secondary);
}