@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

// @import "__spacings";
@import "__variables";
@import "__helpers";
@import "__grid";
@import "__reset";

html, body {
    font-family: var(--font-primary);    
    font-weight: 400;
    color: var(--gray-400);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;        
    font-family: var(--font-secondary);
    // color: var(--gray-400); 
}

// p, span {
//     color: black; 
// }

[data-theme='dark'] {}

.swipeView {
    height: 100svh;
    width: 100%;
    overflow-y: auto;
    scroll-snap-points-y: repeat(300px);
    scroll-snap-type: y mandatory;
    scroll-snap-type: mandatory;
    overflow: auto;

    section {
        display: block;
        width: 100%;
        height: 100svh;
        scroll-snap-align: start;
        
        &.green {
            background-color: transparent;
        }
        
        &.purple {
            border-radius: 20px 20px 0px 0px;
            background-color: purple;
        }
    }
}