.music__main {
    position: relative;
    padding: 0px 0px 50px 0px;
    background-color: #fff;

    $color: #8e8e8e;

    
    &-header {
        display: flex;
        justify-content: space-between;
        // position: absolute;
        // right: 20px;
        position: relative;
        width: 100%;
        top: 15px;
        padding: 0px 60px;
        box-sizing: border-box;
        align-items: center;
        
        &-dir {
            color: #2BA6A2;
            font-weight: 700;
            font-size: 16px;
            position: relative;
        }


        &-head {
            position: relative;
            top: 0;
            right: 0px;
            // height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1000;
            cursor: pointer;
            
            $height: 10px;

            &-navbar {
                display: flex;
                position: relative;
                margin-right: 35px;
    
                li {
                    color: $color;
                    cursor: pointer;
                    font-size: 20px;
                    margin-left: 2px;
    
                    &:active {
                        color: #000;
                    } 
    
                    span {
                        margin-right: 10px;

                        i {
                            font-size: 20px;
                            color: #C4C4C4
                        }
                    }
                }         
            }   

            &-avatar {
                width: 40px;
                height: 40px;
                overflow: hidden;
                display: block;
                border-radius: 50%;
                margin-right: 15px;

                img {
                    height: 110%;
                    position: relative;
                    top: -5%;
                    left: -5%;
                }
            }

            
            h3 {
                margin: 0;
                font-weight: normal;
                font-size: 17px;
            }

            
            i {
                transition: .1s all ease;
            }
            

            span {
                color: $color;
                position: relative;
                margin-left: 10px;
                font-size: 13px;
            }

            &-wrap {
                width: $height;
                height: $height;
                overflow: hidden;
                border-radius: 50%;
                box-sizing: border-box;
                // border: 2.5px solid $color;

                img {
                    height: 100%;
                    position: relative;
                    display: block;
                    right: 25%;
                }
            }
        }

        &-menu {
            display: none;

            &-active {
                display: block;
                position: absolute;
                right: 60px;
                transform: translateX(13%);
                // margin-right: 35px;
                margin-top: 50px;
                z-index: 1000;
                padding: 10px 10px 0px;
                background-color: #F4F6F8;
                // border: 1px solid $color;
                border-radius: 5px; 
                line-height: 30px;
            }
        }

    }


    .full__view {
        // background-color: $color;
        display: block;
        margin: 0 auto;
        padding-top: 10%;

        .music__main-full {

            &-info {
                display: block;
                width: 30%;
                margin-bottom: 20px;
                margin: 0 auto;
                white-space: nowrap;
            }

            &-cover {
                display: block;
                margin: 0 auto;
                position: relative;
                margin-top: 20px;
            }
        }
    }

    &-full {
        position: fixed;
        bottom: -100%;
        left: 14%;
        width: 86%;
        height: calc(100% - 75px);
        color: #bfbfbf;
        z-index: 100;
        background-color: #0f1626;
        transition: .2s all ease-in;
        padding: 15px 60px 10px 60px;

        &-active {
            position: fixed;
            bottom: 50px;
            width: 86%;
            left: 14%;
            z-index: 100;
            height: calc(100% - 75px);
            color: #bfbfbf;
            background-color: #18274a;/*#0f1626;*/
            transition: .2s all ease-in;
            padding: 15px 60px 10px 60px;
        }

        &-info {
            font-size: 13px;
            display: block;

            span {
                margin-right: 20px;
            }

            h1 {
                margin-bottom: 15px;
                font-size: 30px;
            }

            // span {}
            // text-transform: uppercase;
        }    

        &-cover {
            width: 30%;
            overflow: hidden;
            position: relative;
            margin-top: 30px;
            box-shadow: 0px 0px 27px 6px rgba(0,0,0,0.75);
            // box-shadow: 15px 15px 20px -4px rgba(0,0,0,0.75);

            &:after {
                content: "";
                padding-top: 100%;
                display: block;
            }

            &-container {
                position: absolute;
                width: 100%;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
            }
            img {
                width: 110%;
                left: -5%;
                position: relative;
                height: auto;
            }
        }

        &-lyrics {
            width: 40%;
            position: absolute;
            top: 60px;
            right: 18%;

            span {
                color: #9b9b9b;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
    

    &-songs {
        width: 60%;
        position: relative;
        margin-top: 30px;
        padding: 0;

        &-nav {
            width: 100%;
            position: relative;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-bar {
                width: 15%;
                display: flex;
                justify-content: space-between;

                span {
                    color: #8e8e8e;
                    cursor: pointer;
                    font-size: 18px;

                    &:hover {
                        color: #000;
                    }
                }
            }
        }

        &-list {
            width: 100%;
            line-height: 50px;
            display: block;
            padding-left: 0;
            margin: 0;
            counter-reset: item;

            #now_play {
                color: #2BA6A2;

                &:active .play_btn {
                    font-size: 32px;
                }

                &::before {
                    content: '';
                }

                .play_btn {
                    opacity: 1;
                    color: #2BA6A2;
                    margin-right: 11.5px;
                    transform-origin: center;
                }
            }

            &_artist-name {
                font-weight: bold;

                &:hover {
                    font-weight: normal;
                }
            }

            &-link {
                color: #000;
                cursor: pointer;
                font-size: 14px;
            }

            .play_btn {
                display: block;
                opacity: 0;
                cursor: pointer;
                position: relative;
                right: 10px;
                font-size: 30px;
                color: $color;
            }

            li {
                // width: 100%;
                position: relative;
                align-items: center;
                display: flex;
                transition: .2s all ease;
                // border-bottom: .5px solid #e8e8e8; 
                border-radius: 7px;
                font-weight: normal;
                cursor: pointer;
                box-sizing: border-box;
                font-size: 14px;
                padding-left: 20px;

                &:hover .play_btn {
                    opacity: 1;
                    color: #2BA6A2;
                    margin-right: 11.5px;
                }
                &:hover {
                    color: $color;
                    background: rgba(0, 0, 0, 0.05);
                }

                &:hover::before {
                    content: "";
                }

                &::before {
                    content: counter(item) '.';
                    counter-increment: item;
                }
            }

            &_right {
                position: absolute;
                right: 13px;
                width: 100px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-download img {
                    width: 17px;
                    height: 17px;
                    position: relative;
                    transform: translate(0%, 15%);
                    align-self: center;
                }

                &-save {
                    font-size: 18px;
                    color: $color;
                }

                &-time_now {
                    font-weight: 100;
                    color: #8e8e8e;
                }
            }
        }
    }
}   


@media screen and (max-width: 1200px) {
    .music__main {

        &-header {
            padding: 5px 15px;
        }

        &-songs {
            width: calc(100% - 80px);
        
            &-nav {
                width: 90%;

                &-bar {
                    width: 20%;
                }
            }
        }

        &-full {
            // width: calc(100% - 56px);
            left: 56px;
        }
        &-full-active {
            // width: calc(100% - 56px);
            left: 56px;
        }
    }
}

@media screen and (max-width: 480px) {
    .music__main {
        &-songs {
            width: 100%;
        }
    }
}