@import '../../../styles/_helpers';

.typeable-input {
    @apply text-base 
    duration-300 
    py-4 
    px-[18px] 
    rounded-[5px] 
    w-full 
    block
    text-left          
    bg-white
    border-gray-e5 
    placeholder:text-gray-8e
    text-black-36 
    border-[0.5px];

    &.typeable-input_error {
        @apply border-red-fc placeholder:text-red-fc text-red-fc opacity-60;
    }

    &.typeable-input_placeholder {
        @apply text-gray-8e;
    }
}

.field {
    &_select {
        .field__chevron {
            img, svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    &_radio_image {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        --col-width: 100%;
        width: 100%;
        max-width: var(--col-width);
        flex-basis: var(--col-width);
        
        .field {
            &__label {
                width: 100%;

                input {
                    display: none;
                
                    &:checked + .field__image {
                        border-color: var(--black-36);
                    
                        &::before {
                            border-color: var(--black-36);
                        }

                        &::after {
                            opacity: 1;
                        }
                    }
                }

                .field__image {
                    width: 100%;
                    height: 182px;
                    border-radius: 5px;
                    border: 1px solid var(--gray-e5);
                    position: relative;
                    overflow: hidden;
                    transition: .3s;
                    cursor: pointer;

                    img {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: bottom;
                    }

                    &::before {
                        content: "";
                        transition: .3s;
                        position: absolute;
                        width: 12px;
                        height: 12px;
                        left: 10px;
                        top: 10px;
                        border-radius: 50%;
                        display: block;
                        border: 1px solid var(--gray-e5);
                        z-index: 2;
                    }

                    &::after {
                        content: "";
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        display: block;
                        flex-shrink: 0;
                        background-color: var(--black-36);
                        position: absolute;
                        top: 12px;
                        left: 12px;
                        opacity: 0;
                        transition: .3s;
                    }
                }

                .field__title {
                    margin-top: 6px;
                    margin-left: 4px;
                    font-size: 14px;
                    color: var(--black-36);
                    font-weight: 700;
                }
            }
        }
    }

    &_file {
        width: 100%;

        input {
            display: none;
        }

        .field__label {
            padding: 28px 18px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: transparentize(#00ADB5, .97);
            border: .5px dashed var(--green-05);
            cursor: pointer;
            transition: .5s;

            &:active {
                background: transparentize(#00ADB5, .8);
            }
        }

        .field__image {
            width: 28px;
            height: 28px;

            img, svg {
                width: 100%;
            }
        }

        .field__info {
            margin-top: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .field__text {
            font-size: 12px;
            font-weight: 700;
            color: black;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;

            span {
                color: var(--green-05);
            }
        }

        .field__clear-button {
            position: relative;
            margin-left: auto;
            width: 20px;
            height: 20px;
            display: block;

            &::before, &::after {
                content: "";
                width: 16px;
                height: 2px;
                background-color: var(--black-36);
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
            
            &::after {
                transform: translate(-50%, -50%) rotate(45deg);
            }
        }

        &_dragged {
            .field__label {
                background: transparentize(#00ADB5, .8);
                border-width: 2px;
            }
        }

        &_filled {
            transition: 0s;

            .field__info {
                gap: 0px 24px;
            }

            .field__text {
                max-width: 160px;
            }
        }
    }
}

// Groups
.group {
    &_radios_with_images {
        display: flex;
        margin-left: -10px;
        margin-right: -10px;
    }
}