.music__main {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    padding: 0px 0px 50px 0px;
    background-color: #fff;
    $color: #8e8e8e;


    &-bg {
        width: 200%;
        height: 160%;
        animation: 2s bg ease-out;
        position: absolute;
        transform: rotate(-10deg);
        transform-origin: center;
        top: -100%;
        left: -50%;
        background-color: $light-green;
        z-index: 0;

        &.night {
            background-color: $black-bcg-light;
        }
    }


    .full__view {
        display: block;
        margin: 0 auto;
        padding-top: 10%;
    }

    &-songs {
        width: calc(100% - 120px);
        height: 100%;
        margin-top: 30px;
        position: relative;

        @include media-breakpoint-down(lg) {
            width: calc(100% - 80px);
        }

        &-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include media-breakpoint-down(lg) {
                width: 90%;
            }

            @include media-breakpoint-down(xs) {
                width: 100%;
            }

            &-bar {
                width: 10%;
                display: flex;
                justify-content: space-between;
                color: #393E46;
                font-size: 18px;

                @include media-breakpoint-down(lg) {
                    width: 20%;
                }
            }
        }
    }
    
}   