.music__main {
    &-alerts {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 50%;
        bottom: calc(0% + 60px);
    }
    
    &-alert {
        text-align: center;
        border-radius: 4px;
        padding: 8px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transform: translateX(-50%);
        margin-bottom: 8px;
        opacity: 1;
        animation: .2s showAlert;
        
        &.hidden {
            opacity: 0;
        }
        span {
            color: $black-bcg-light;
            font-size: 16px;
            font-family: 'Manrope';
            font-weight: 600;
            margin-right: 16px;
        }
        
        i {
            cursor: pointer;
            color: $black-bcg-light !important;
            transition: .1s;

            &:hover {
                opacity: 0.7;
            }

            &:active {
                transform: scale(1.3);
            }
        }
        
        &.success {
            background-color: $green;
        }
        &.error {
            background-color: $red;
        }
        &.warning {
            background-color: $yellow;
        }
    }
}

@keyframes showAlert {
    from {
        margin-bottom: -8px;
        opacity: 0;
    }
}