$color: #8e8e8e;

.music__main-artist {
    position: absolute;
    top: 0px;
    width: 100%;
    padding-bottom: 50px;

    &-header {
        width: 100%;
        height: 400px;
        background-color: #000;
        padding-left: 60px;
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        padding-bottom: 0px;
        position: relative;

        &-avatar {
            overflow: hidden;
            left: 0%;
            width: 100%;
            position: relative;

            img {
                height: 146%;
                position: relative;
                top: -30%;
            }
        }

        &-desc {
            padding: 70px 0px;
            display: block;
            width: 100%;

            &-name {
                color: #fff;
                font-size: 60px;
                font-family: "Manrope";
                font-weight: bold;
                margin: 0;
            }

            &-about {
                color: #8E8E8E;
                font-size: 14px;
                position: relative;
                top: 5px;
            }

            &-info {
                display: flex;
                position: relative;
                align-items: center;
                top: 25px;
                font-size: 13px;
                color: #fff;

                span, a {
                    margin-right: 15px;
                    font-weight: 100;
                }

                &-genre {
                    background: #393E46;
                    padding: 4px 10px;
                    border-radius: 5px;
                    margin-right: 10px;
                    font-size: 12px;
                }                
            }

            &-btns {
                position: relative;
                top: 55px;
                display: flex;
                font-size: 20px;

                &-follow {
                    background: #393E46;
                    padding: 7px 20px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    margin-right: 18px;
                    font-size: 12px;
                    color: #fff;
                    cursor: pointer;
                    
                    &:active {

                        span {
                            font-size: 22px;
                        }

                        i {
                            font-size: 20px;
                        }
                    }

                    i {
                        font-size: 18px;
                        margin-right: 12px;
                    }

                    span {
                        font-size: 20px;
                    }
                }
                
                &-listen {
                    background: #fff;
                    padding: 7px 20px;
                    border-radius: 5px;
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    color: #fff;
                    cursor: pointer;
                    
                    i {
                        font-size: 18px;
                        margin-right: 12px;
                        color: #393E46;
                    }

                    span {
                        font-size: 20px;
                        color: #393E46;
                    }
                }
            }
        }

        

        // h1 {
        //     font-size: 50px;
        //     position: relative;
        //     left: 60px;
        //     top: 30px;

    }

    &-albums {
        width: 100%;
        position: relative;
        margin-top: 40px;
        margin-left: 60px;
    }

    &-artists {
        width: 100%;
        position: relative;
    }
    
    &-songs {
        position: relative;
        margin-top: 60px;
        margin-left: 60px;
        margin-right: 60px;
    }
}