.slick-slider {
    width: 100%;
}

.slick-slide div{
    width: 95%;

    &:after {
        content: '';
        padding-top: 70%;
    } 
}

.music__main-for {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 0px 0px 60px;
    overflow: hidden;

    &-slider    {
        position: relative;

        &-item {
            width: 100% !important;
            overflow: hidden;
            position: relative;
            display: block;
            margin-right: 15px;
            cursor: pointer;
            border-radius: 5px;

            &:after {
                content: "";
                padding-top: 60%;/*65% ?*/
                display: block;
            }

            a {
                width: 100%;
                height: 100%;
                position: absolute;
            }

            img {
                width: 110%;
                position: absolute;
                top: 0;
                z-index: -1;
                filter: brightness(.6);
                left: -5%;
            }

            &_artist {
                position: relative;
                top: 60%;
                font-weight: lighter;
                color: #fff;
                font-size: 22px;
                display: block;
                margin: 0 auto;
                text-align: center;
            }       
            
            &_desk {
                position: relative;
                top: 65%;
                font-size: 12px;
                display: block;
                margin: 0 auto;
                text-align: center;

            }
        }
    }


    .slider_wrap {
        display: flex;
        margin-top: 30px;
        // padding-left: 5%;
    }
    .slider {
        min-width: 180%;
        display: flex;
        left: 0%;
        position: relative;
        transition: .5s all ease-out;
        overflow: hidden;
        color: #fff;
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 2;
        cursor: pointer;
        display: block;
        width: 43px;
        height: 43px;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;

        img {
            width: 10px;
            color: rgba(255, 255, 255, 0.5);
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 3;
            transform: translate(-50%, -50%);
        }

        &:active {
            background-color: rgba(0, 0, 0, 0.6);
        }

        &:before {
            display: none;
        }
    }
    .slick-prev {
       left: 2%;
    }
    .slick-next {
        right: 8%;
    }

    &_artist {
        width: 100%;
        height: 100%;
        background-color: #2BA6A2;
    }
    
}

@media screen and (max-width: 1200px) {
    .music__main-for {
        padding: 0px 10px;

        &-slider {

            &-item {

                &_artist {
                    font-size: 15px;
                }

                &_desk {
                    font-size: 10px;
                }
            }
        }

        .slick-slider {
            width: 133%;
        }

        .slick-dots {
            left: -13%;
        }

        .slick-arrow {
            display: none !important;
        }
    }
}
