
.music__main-for {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 0px 0px 60px;
    overflow: hidden;

    // &_artist {
    //     width: 100%;
    //     height: 100%;
    //     background-color: #2BA6A2;
    // }
    
}

@media screen and (max-width: 1200px) {
    .music__main-for {
        padding: 0px 10px;
    }
}
