@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

$color: #8e8e8e;
$height: 40px;

.music__sidebar {

    
  &-logo {

    &-tablet {
      display: none;
    }

    &-main {
      width: 84%;
      height: $height;
      left: 7%;
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15%;
      // border-bottom: 1px solid #8e8e8e;
      
      svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

    &-title {
      text-transform: uppercase;
      font-size: 13px;
    }
  
    ul {
      line-height: 40px;/* 33px */
      // font-size: 1px;
  
      li {
        width: 90%;
        left: 5%;
        position: relative;
        align-items: center;
        cursor: pointer;
        z-index: 2;
        box-sizing: border-box;
        padding: 0px 15px;
        border-radius: 5px;
        margin-bottom: 12px;
        // padding: 0px 0px 0px 10px;

        a {
          list-style: none;
          color: $color;
          display: block;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }

        &.active {
          color: #4a4a4a;
          // transition: .1s all ease-in;
          width: 90%;
          left: 5%;
          position: relative;
          align-items: center;
          cursor: pointer;
          z-index: 2;
          // padding: 0px 0px 0px 10px;

          a {
            color: #4a4a4a;
            display: contents;
          }
          
          &::before {
            content: "";
            width: 2px;
            height: 70%;
            top: 15%;
            // border: 1px solid #4a4a4a;
            background-color: #4a4a4a;
            position: absolute;
            left: calc(105% + 11px);
          }
        }

        i {
          font-size: 15px;
          position: relative;
          margin-right: 18px;
        }

        span {
          font-size: 16px;
          font-weight: normal;
        }  

      }   

    }

    &-footer {
      line-height: 5px;
      font-size: 13px;
      position: absolute;
      bottom: 70px;
    }
}

@media screen and (max-width: 1200px) {
  .music__sidebar {
    padding: 5px;
    width: 56px;

    &-logo {

      &-main {
        display: none;
      }

      &-tablet {
        width: 86%;
        height: $height;
        left: 7%;
        margin-top: 15px;
        overflow: hidden;
        // display: block;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15%;
        // border-bottom: 1px solid #8e8e8e;
      
        svg {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    ul li {
      // width: 90%;
      // left: 5%;
      position: relative;
      align-items: center;
      cursor: pointer;
      z-index: 2;
      box-sizing: border-box;
      border-radius: 5px;
      margin-bottom: 12px;

      &.active {

        &::before {
          content: "";
          width: 2px;
          height: 70%;
          top: 15%;
          // border: 1px solid #4a4a4a;
          background-color: #4a4a4a;
          position: absolute;
          left: calc(100% + 5px);
        }
      }
    }

    &-item {

      &-icon {
        i {
          left: -2px;
        }
      }

      &-text {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .music__sidebar {
    padding: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background: #F4F6F8;

    &-logo {
      display: none;
    }

    ul {
      display: flex;
      margin-top: 5px;
      // bottom: 10px;

      li {

        &.active::before {
          display: none;
        }
      }
    }
  }
}