.music__main-drag {
	width: 75%;
    display: block;
    height: 220px;
    border-radius: 20px;
    position: relative;
    background-color: #F4F6F8;
    margin: 0 auto;
    margin-bottom: 80px;
    cursor: pointer;
    box-sizing: border-box;

    &.night {
        background-color: $gray-bcg;

        span i {
            color: $gray-400;
        }
    }

    input {
    	display: none;
    }

    &-description {
        font-size: 13px;
        color: #8e8e8e;
        font-weight: 400;
        margin: 0;
    }

    &-name {
        margin: 0;
    }

    span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        text-align: center;
        transform: translate(-50%, -50%);


        i {
            font-size: 57px;
            color: #18274a;
    	}
	
    	&.active {
    	    background-color: darken(#F4F6F8, 5%);
    	    // border: 1px dashed #000;
    	}
    }
}