.music__player {
    color: #bfbfbf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    box-sizing: border-box;

    .fas, .far {
        cursor: pointer;
    }

    &-artist {
        height: 76%;
        position: relative;
        left: -23px;
        display: flex;
        justify-content: space-between;

        &-wrap {
            height: 100%;
            width: 53.2px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }
    

    &-controls {
        width: 90px;
        justify-content: space-between;
        display: flex;
        font-size: 13px;
        position: relative;
        // margin-left: -2%;
        align-items: center;

        .play_btn {
            font-size: 28px;
            color: #2BA6A2;
        }    
    }

    &-song-desk {
        display: none;
    }
    

    &-timeline {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 12px;
            text-align: center;
        }

        input {
            width: 90%;
            height: 3px;
            display: block;
            margin: 0 auto;
            cursor: pointer;
            background: linear-gradient(90deg, rgb(99, 111, 255) 60%, rgb(255, 255, 255) 60%);
            border-radius: 10px;
            // -webkit-appearance: none;

            // &::-webkit-slider-runnable-track {
            //     width: 40px;
            //     height: 100%;
            //     border-radius: 5px;
            //     -webkit-appearance: none;
            //     position: r;
            //     top: -p;
            //     background-color: rgba(99, 111, 255, 40%);/*#636fff*/
            // }

            // &::-webkit-slider-thumb {
            //     -webkit-appearance: none;
            //     height: 8px;
            //     width: 8px;
            //     position: relative;
            //     top: -2px;
            //     border-radius: 50%;
            //     background-color: #636fff;
            //     transition: .1s all ease;
            //     cursor: pointer;

            //     &:hover {
            //         width: 12px;
            //         height: 12px;
            //         top: -4px;
            //     }
            // }
        }  
    }

    &-bar {
        display: flex;
        justify-content: space-between;
        width: 150px;
        align-items: center;

        #repeat_all {
            width: 16px;
        }
    }

    &-volume {
        display: flex;
        position: relative;
        left: 0;
        align-items: center;
        transition: .2s all ease;
        outline: none;
        width: 12%;

        
        &-range {
            display: none;
            width: 50px;
            height: 2px;
            border-radius: 5px;
            -webkit-appearance: none;
            margin-left: 5px;
            cursor: pointer;
            background-color: #bfbfbf;
            
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 8px;
                width: 8px;
                border-radius: 4px;
                border: 2px solid #bfbfbf;
                background-color: #0f1626;
                transition: .2s all;
                cursor: pointer;

                &:hover {
                    background-color: #bfbfbf;
                    transform: scale(1.3);
                }

                &:active {
                    background-color: #bfbfbf;
                }
            }
            
        }

        &:hover {
            left: -25px;
            width: 33%;
        }

        &:hover &-range {
            display: block;
        }
    }
}

@media screen and (max-width: 1200px) {
    .music__player {

        &-timeline {
            width: 56%;

            #music-range {
                margin: 0px 5px;
            }
        }

        &-bar {
            width: 120px;
        }
    }
}

@media screen and (max-width: 760px) {
    .music__player {
        height: 100px;

        &-controls {
            right: -50%;
            transform: translate(-50%, -10px);
        }

        &-timeline {
            position: relative;
            top: 20px;
        }

        &-toFull {
            position: absolute;
        }
    }
}

@media screen and (max-width: 480px) {
    .music__player {
        height: 55px;
        bottom: 58px;
        width: 96%;
        align-items: center;
        left: 2%;
        border-radius: 10px;

        &-controls {
            left: 10%;
            top: 10px;
            align-items: center;
            // display: none;

            #play_prev, #play_next {
                display: none;
            }
        }

        &-song-desk {
            display: inline-grid;
            height: 38px;
            position: absolute;
            left: 16%;
            font-size: 14px;

            &-name {
                color: #2BA6A2;
            }
        }
        
        &-timeline {
            display: none;
        }

        &-bar {
            position: absolute;
            right: 10%;
            width: 15%;
            // border: 1px solid #000;
        }
        
        &-volume, &-full {
            display: none;
        }

        &-toFull {
            display: none;
        }
    }
}