@import "../../styles/_helpers";

.player {
    @apply py-3 bg-black-06 flex items-center sticky bottom-0 right-0 z-20;

    &-nav-button {
        width: 20px;
        height: 20px;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        &.player-nav-button_prev-track {
            transform: scaleX(-1);
        }
    }

    &-play-button {
        width: 32px;
        height: 32px;
        background-color: var(--green-05);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 16px;
    
        img {
            width: 20px;
            height: 20px;
        }
    }

    .player-volume {
        display: flex;
        align-items: center;
        position: relative;
        transition: .3s;
        cursor: pointer;
        
        &:hover {
            .player-volume__range {
                opacity: 1;
                visibility: visible;
                margin-left: 8px;
                width: desktop_vw_min(100px);
            }        
        }

        &__range {
            opacity: 0;
            width: 0;
            visibility: hidden;
            transition: .3s;
            cursor: pointer;
            
            .range__track, .range__current-time {
                height: 4px;
                border-radius: 2px;
            }
        }
    }
}
