@import "../../styles/_helpers";

.player {    
    &-volume {
        display: flex;
        align-items: center;
        position: relative;
        transition: .3s;
        cursor: pointer;    
        
        &__wrap {
            position: absolute;
            left: 50%;
            top: -16px;
            padding: 20px 12px;
            transition: .3s;
            transform-origin: left;
            transform: rotate(-90deg) translateX(-16px);
            visibility: hidden;
            opacity: 0;

            &::before {
                content: "";
                position: absolute;
                left: 16px;
                top: 0;
                height: 100%;
                width: calc(100% - 16px);
                background-color: var(--gray-500);   
                box-shadow: 0px 1px 20px var(--gray-400);
                border-radius: 4px;
            }
        }

        &__range {
            width: desktop_vw_min(100px);
            transition: .3s;
            cursor: pointer;
            margin-left: 16px;
            
            .range__track, .range__current-time {
                height: 2px;
                border-radius: 2px;
            }
        }

        &:hover .player-volume__wrap {
            transform: rotate(-90deg);
            opacity: 1;
            visibility: visible;
        }
    }
}

.mobile-player {
    position: sticky;
    bottom: 64px;
    left: 0;
    z-index: 20;
    width: 100%;

    &__wrap {
        // height: 44px;
        width: 100%;
        background-color: white;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        position: relative;
        align-items: center;
    }

    &__progress.progress {
        position: absolute;
        bottom: 0;
        left: 6px;
        z-index: 1;
        width: calc(100% - 12px);
        --background-range-color: transparent;
    }
}

.fullplayer {
    background-color: var(--gray-600);    
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 92px 0px 60px;
    position: relative;

    @include media-breakpoint-down(sm) {
        z-index: 2;        
        border-radius: 8px 8px 0px 0px;     
        padding: 48px 0px 0px;       
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, var(--gray-400) 10.6%, var(--gray-600) 35.91%);
    
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    
    * {
        color: var(--white);
    }

    &__cover {
        width: min(500px, 100%);
        position: relative;
        height: 0;
        padding-bottom: min(500px, 100%);
        
        @include media-breakpoint-down(sm) {
            margin-left: auto;
            margin-right: auto;
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            object-position: center center;
        }

        &_default {
            background-color: var(--gray-400);

            img, svg {
                width: 40%;
                height: auto;
                object-fit: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__info {
        margin-top: 60px;

        @include media-breakpoint-down(sm) {
            margin-top: 16px;
        }

        &-title {
            font-size: 42px;
            font-weight: 700;
            color: white;
            margin-bottom: 12px;
            
            @include media-breakpoint-down(sm) {
                margin-bottom: 8px;
                font-size: 24px;
                line-height: 30px;
            }
        }

        &-artist {
            color: var(--gray-200);
            font-size: 24px;
            font-weight: 400;

            @include media-breakpoint-down(sm) {
                font-size: 16px;
                line-height: 24px;
            }
        
            &:hover {
                text-decoration: underline;
            }
        }

        &-description {
            margin-top: 32px;

            @include media-breakpoint-down(sm) {
                display: none;
            }

            p {
                color: var(--gray-200);
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    &__lyrics {
        h3 {
            font-size: 32px;
            font-weight: 600;
            color: white;
        }

        &-text {
            margin-top: 24px;
            
            p {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}

[data-theme="dark"], .dark {
    .mobile-player {
        &__wrap {
            background-color: var(--gray-500);
        }
    }
}
