.music__main-saved-songs {
    position: relative;
    padding: $padding-top-page $padding-left-page;

    &-head {
        display: flex;
        justify-content: space-between;

        &-sort {
            display: flex;
            align-items: center;

            span {
                margin-right: 18px;
            }
        }
    }
} 