.card {
    &:hover {    
        .card__image {
            img {
                transform: scale(1.1);
            }
        }

        .card__play-button {
            transform: translateY(-50%) translateX(-50%);
            opacity: 1;
        }
    }

    &__image {
        img {
            transition: .3s;
        }
    }
}