@import "./styles/__spacing";
@import "./styles/__helpers";
@import "./styles/__colors";
@import "./styles/__app";

body {
  margin: 0;
  font-family: 'Manrope', "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  color: #000;
}

.subtitle {
  margin: 10px 0px;
  font-weight: bold;
  width: 50%;
  font-size: 1.6em;
  margin-bottom: 20px;

  @include media-breakpoint-down(xs) {
    margin: 10px 5px;
  }
}

.load_title {
  position: absolute;
  top: 35%;
  left: calc(60% - 60px);
  transform: translate(-50%, -50%);
  color: $gray-font;
  font-size: 45px;
}

.middot {
  font-size: 20px;
}

.music, .music-night {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  
    &-form {

      @keyframes formOpas {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      h1 {
        font-size: revert;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 30px;
      }

      input {
        position: relative;
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
        text-indent: 10px;
        padding: 5px;
        border: none;
        font-size: 15px;
        border-radius: 5px;
        background-color: #fff !important;

        &::placeholder {
          color: $gray-font;
        }
      
      }

      &-required {
        margin: 0;
        font-size: 12px;
        color: $red;
      }

      &-forgot {
        margin-top: 20px;
        display: block;
        color: #000;
      }

      &-btns {
        position: relative;
        width: 45%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        margin-top: 20px;

        #btn_nonreg {
          background: none;
          font-size: 15px;
          color: $green;
        }
      }
    }

  &__auth {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;

    &-box {
      position: absolute;
      left: 50%;
      top: 50%;
      text-align: center;
      display: block;
      opacity: 1;
      animation: formOpas .5s ease;
      transform: translate(-50%, -50%);
    }

    &-logo {
      position: absolute;
      width: 30%;
      left: 50%;
      top: 10%;
      transform: translate(-50%);
      display: flex;
      align-items: center;
      animation: 2s slideLogo ease-out;
      
      svg {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
      }
    
      @keyframes slideLogo {
        0% {
          top: 40%;
          opacity: 0;
        }
        90% {
          opacity: .7;
          top: 40%;
          
        }
        100% {
          opacity: 1;
          top: 10%;
        }
      }
    }

    &_bg {
      width: 200%;
      height: 100%;
      animation: 2s bg_auth ease-out;
      position: absolute;
      transform: rotate(-10deg);
      transform-origin: center;
      top: -40%;
      left: -50%;
      background-color: #F4F6F8;
      z-index: -1;
    }

    @keyframes bg {
      0% {
        top: -300%;
      }
      60% {
        top: -300%;
      }
      85% {
        top: -100%;
      }
      100% {
        top: -100%;
      }
    }

  @keyframes bg_auth {
    0% {
      top: -300%;
      }
      60% {
        top: -300%;
      }
      85% {
        top: -40%;
      }
      100% {
        top: -40%;
      }
    }
  }
  
  // img {
  //   &:after {
  //     content: "";

  //     width: 100%;
  //     height: 100%;
  //     display: block;
  //     background-color: $black-bcg-light;
  //   }
  // }
}

.music-night {

  .music {

    &__main {
      background-color: $black-bcg;

      h1, h2, h3, h4, h5, h6 {
        color: $color;
      }

      i {
        color: $color;
      }

      .slick {
        &-dots li button::before {
          color: $gray-font;
        }
        &-active button::before {
          color: #fff !important;
        }
      }

      .subtitle {
        color: #fff;
      }



      &-artists {
        
        &-slider-item_artist {
          color: #fff !important;
        }

        .slick-dots button:before {
          color: #fff;
        }     
      }

      &-songs-nav-bar {
        span:hover {
          color: #fff;
        }
      }
    }
  }
}