body {
  margin: 0;
  font-family: 'Manrope', "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

// Variables
$color: #8e8e8e;
// $playerW: 50px;/*70*/

.load_title {
  position: absolute;
  top: 35%;
  left: calc(60% - 60px);
  transform: translate(-50%, -50%);
  color: #8e8e8e;
  font-size: 45px;
}

.middot {
  font-size: 20px;
}

.music, .music-night {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  
    &-form {

      @keyframes formOpas {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      h1 {
        font-size: revert;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 30px;
      }

      input {
        position: relative;
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
        text-indent: 10px;
        padding: 5px;
        border: none;
        font-size: 15px;
        border-radius: 5px;
        background-color: #fff !important;
        // border: .1px solid #000;
        &::placeholder {
          color: #8E8E8E;
        }
      
      }

      &-required {
        margin: 0;
        font-size: 12px;
        color: #f23f3f;
      }

      &-forgot {
        margin-top: 20px;
        display: block;
        color: #000;
      }

      &-btns {
        position: relative;
        width: 45%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        margin-top: 20px;

        #btn_nonreg {
          background: none;
          font-size: 15px;
          color: #2BA6A2;
        }
        
        button {
          border: none;
          padding: 8px 20px;
          color: #696969;
          font-size: 15px;
          border-radius: 3px;
          margin-right: 20px;
          font-family: 'Roboto', sans-serif;
          background-color: #D1D1D1;
          cursor: pointer;

          &:disabled {
            cursor: not-allowed;
            color: #bababa;
            background-color: #e8e8e8;
          }
          
        }

      }
    }

  &__auth {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;

    &-box {
      position: absolute;
      left: 50%;
      top: 50%;
      text-align: center;
      display: block;
      opacity: 1;
      animation: formOpas .5s ease;
      transform: translate(-50%, -50%);
    }

    &-logo {
      position: absolute;
      width: 30%;
      left: 50%;
      top: 10%;
      transform: translate(-50%);
      display: flex;
      align-items: center;
      animation: 2s slide ease-out;
      
      svg {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
      }
    
      @keyframes slide {
        0% {
          top: 40%;
          // position: absolute;
          opacity: 0;
        }
        90% {
          opacity: .7;
          top: 40%;
          
        }
        100% {
          opacity: 1;
          top: 10%;
        }
      }
    }

    &_bg {
      width: 200%;
      height: 100%;
      animation: 2s bg ease-out;
      position: absolute;
      transform: rotate(-10deg);
      transform-origin: center;
      top: -40%;
      left: -50%;
      background-color: #F4F6F8;
      // display: none;
      z-index: -1;
    }

    @keyframes bg {
      0% {
        top: -300%;
      }
      60% {
        top: -300%;
      }
      85% {
        top: -40%;
      }
      100% {
        top: -40%;
      }
    }

  }

  &__sidebar {
    width: 14%;
    height: 100%;
    background-color: #F4F6F8;

    position: relative;
    display: block;
    padding: 20px 13px;
    box-sizing: border-box;
    color: #8e8e8e;
    z-index: 100;
  }

  &__player {
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    position: absolute;
    background-color: #0f1626;
  }

  &__main {
    position: relative;
    width: 86%;
    overflow: auto;
    padding: 25px 0px 20px 60px;
    background-color: #fff;

    li {
      color: #000;
    }

    .subtitle {
      margin: 10px 0px;
      font-weight: bold;
      width: 50%;
      font-size: 1.6em;
      margin-bottom: 20px;
    }
  }
}

.music-night {

  .music {

    &__main {
      background-color: #151515;

      h1, h2, h3, h4, h5, h6 {
        color: $color;
      }

      .slick {
        &-dots li button::before {
          color: #8e8e8e;
        }
        &-active button::before {
          color: #fff !important;
        }
      }

      .subtitle {
        color: #fff;
      }

      &-header-list-active {
        background-color: #292929;

        a {
          color: #fff;

          &:active {
            color: #000;
          }
        }

        &:before {
          content: "";
          background-color: #292929;
        }
      }

      &-artists {
        
        &-slider-item_artist {
          color: #fff !important;
        }

        .slick-dots button:before {
          color: #fff;
        }     
      }

      &-songs-nav-bar {
        span:hover {
          color: #fff;
        }
      }
    }

    &__sidebar {
      background-color: #292929;

      li {
        &:hover {
          background: rgba(142, 142, 142, 0.1)
        }
      
        &.active {
          color: #fff;
          position: relative;
          font-weight: lighter;
          display: block;

          &::before { 
            background-color: #fff;
          }

          a {
            color: #fff;
            display: contents;
          } 
        }
        
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .music, .music-night {

    &__main {
      width: calc(100% - 56px);
    }
  }
}

@media screen and (max-width: 480px) {
  .music, .music-night {

    &__main {
      width: 100%;

      .subtitle {
        margin: 10px 5px;
      }
    }
  }
}